@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root{
  --color-neutral-0: #0e0c0c;
  --color-neutral-10: #171717;
  --color-neutral-30: #a8a29e;
  --color-neutral-40: #f5f5f5;
}


/* Definições gerais para todos os elementos HTML */
* {  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  header, nav, main, aside, footer {
    display: flex;
    margin: 1px; /* espaço entre as grades */
  }

body {
  display: flex;
  flex-wrap: wrap;
  margin: 3px;
  flex: 1 1 100vw;
  
}

header {
  background: rgb(44, 44, 44);
  flex: 1 1 100vw;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo img {
  flex: 0 1 200px;
}

header a {
  color: rgb(255, 255, 255);
}

#openMenu, #closeMenu {
  border: none;
  background: none;
  font-size: 30px;
  font-weight: bold;
  padding: 0px 5px 0px 5px;
  cursor: pointer;
  display: none;
}

nav { /*cabeçalho*/
  background: rgb(44, 44, 44);
  flex: 1 1 100vw;
  align-items: center;
  justify-content: flex-end;
  
}

nav a {
  margin: 3%;
  font-size: 20pt;
}

main { /*Principal*/
  background: rgb(44, 44, 44);
  flex: 20 1 500px;
  flex-wrap: wrap;
  overflow: auto;
}

main section {
  width: 100%;
  height: 1000px;
  margin: 10px;
  background: #9a9a9a;
}

/* banner */

.banner-container {
  overflow: hidden;
}

.banner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.banner-item {
  border-radius: 10px;
  flex: 0 0 100%;
  box-sizing: border-box;
}

.banner-item img {
  width: 100%;
  height: auto;
}

/* aside */

aside { /*relacionados*/
  background: rgb(44, 44, 44);
flex: 1 1 200px;
}

aside section {
  width: 100%;
  height: 1000px;
  margin: 10px;
  background: #9a9a9a;
}

/*footer*/

  footer {
  max-width: 100%;
  color: var(--color-neutral-40);
  margin-top: auto;
 }

 .footer-link {
  text-decoration: none;
 }

 #footer_content {
  background-color: var(--color-neutral-10);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem 3.5rem;
 }

 #footer_contacts h1 {
  margin-bottom: 0.75rem;
 }

 #footer_social_media {
   display: flex;
   gap: 2rem;
   margin-top: 1.5rem;
 }


#footer_social_media .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: var(--color-neutral-40);
  border-radius: 50%;
  transition: all 0.4s;
}

#footer_social_media .footer-link i {
  font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
  opacity: 0.7;
}

#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
  background-color: #4267b3;
}

#whatsapp {
  background-color: #25d366;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}

.footer-list .footer-link {
  color: var(--color-neutral-30);
  transition: all 0.4s;
}

.footer-list .footer-link:hover {
  color: #7f37c9;
}

#footer_subscribe {
  display: flex;
  flex-direction: column;
  gap: 1.5rem
}

#input_group{
  display: flex;
  align-items: center;
  background-color: var(--color-neutral-0);
  border-radius: 4px;
}

#input_group input {
  all: unset;
  padding: 0.75rem;
  width: 100%;
}

#input_group button {
  background-color: #7f37c9;
  border: none;
  color: var(--color-neutral-40);
  padding: 0px 1.25rem;
  font-size: 1.125rem;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: all 0.4s;
}

#input_group button:hover {
  opacity: 0.7;
}

#footer_copyright {
  margin-top: auto;
  display: flex;
  justify-content: center;
  background-color: var(--color-neutral-0);
  font-size: 0.9rem;
  padding: 0.6rem;
  font-weight: 100;
}











.grid1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: auto;
  margin: 0 auto;
  grid-gap: 20px;
}

.grid1 p{
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
  max-width: 80%;
  font-weight: 80;
  font-size: 16px;
  color: #e90d0d;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  
}

.materiap {
  background-color: #000000;
  padding: 20px;
  border: rgb(253, 4, 4);
  border-radius: 10px;
  box-shadow:0 0 15px rgb(14, 13, 13);
  width: 100%;
  height: 100%;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
 }

 .materiaso {
  padding: 20px;
  border-radius: 10px;
  box-shadow:0 0 15px rgb(14, 13, 13);
  width: 100%;
  height: 100%;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
 }

 .materiaso img {
  
 }


@media only screen and ( max-width: 870px) {

  header {
    order: 0 ;
  }
 
  main{
     order: 1 ;
  }

 aside{
    flex: 1 1 100vw;
    order: 2 ;
 }

 footer {
  order: 3;
 }

 #footer_content {
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
 }

   #openMenu, #closeMenu {
    display: block;
   }
   #openMenu {
    margin-left: auto;
   }
   #closeMenu {
    position: fixed;
    right: 15px;
    top: 15px;
   }
   nav {
    position: fixed;
    flex-direction: column;
    width: 100vw;
    background: rgb(255, 255, 255, 0.8);
    align-content: center;
    justify-content: center;
    margin: 0;
    display: none;
    opacity: 0;
    transition: opacity 0.2s, transform 0.2s; /* Adiciona transições para opacidade e transformação */
    transform: translateX(100%); /* Inicialmente esconde o menu para a direita */
  }
  
}
@media  screen and (max-eidth 426px) {
  #footer_content {
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
   }
  
}
